<app-navbar></app-navbar>

<div>
    <div class="float-right">
        <button type="button" class="btn mt-4 mr-4 estilosBotones
            estilosBotonesHover" data-toggle="modal" data-target="#modalAgregarEmpresa" data-whatever="@mdo">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
              </svg>
            Agregar empresa
        </button>

        <button class="btn estilosBotones estilosBotonesHover mt-4 mr-4 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi
            bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1
                0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0
                0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
        <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0
                    .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5
                    0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3
                    3z" />
    </svg>
            Exportar empresas
            </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button (click)="guardarEmpresas()" class="dropdown-item estilosBotonesHover" type="button">Todas las empresas</button>
            <button (click)="guardarMisEmpresas()" class="dropdown-item estilosBotonesHover" type="button">Mis empresas</button>
        </div>

    </div>

    <div>

        <div class="container-fluid mt-3">
            <span class="encabezado">Empresas</span>
            <br>
            <small>{{contadorEmpresas}} Empresas</small>
        </div>

        <!--Inicio del formulario modal agregar empresa-->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalAgregarEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bgCorp">
                        <h5 class="modal-title text-white" id="exampleModalLabel">
                            Agregar empresa
                        </h5>
                        <button (click)="vaciarFormulario()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)="agregarEmpresa(f)" #f="ngForm">



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nombre de
                                    la empresa </label>
                                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="empresa.nombre" required minlength="5" />

                                <small *ngIf="f.submitted &&
                                                f.controls['nombre'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>

                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Propietario de registro</label>
                                <input type="text" class="form-control" id="pipeline" name="propietario" [(ngModel)]="propietario.propietario_registro" required disabled />

                                <small *ngIf="f.submitted && f.controls['propietario'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>
                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Industria</label>
                                <div class="col-22">
                                    <select class="form-control" id="industria" name="industria" [(ngModel)]="empresa.industria" required>
                                        ><label for="industria">--seleccione--</label>
                                        <option>Contabilidad</option>
                                        <option>Aviación</option>
                                        <option>Medicina</option>
                                        <option>Banca</option>
                                        <option>Productos químicos</option>
                                        <option>Ingeniería civil</option>
                                        <option>Bienes y raices</option>
                                    </select>

                                    <small *ngIf="f.submitted &&
                                                    f.controls['industria'].errors" class="text-danger">
                                        Campo obligatorio
                                    </small>

                                </div>
                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Número de
                                    teléfono</label>
                                <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="empresa.no_telefono" required minlength="8" />

                                <small *ngIf="f.submitted &&
                                                f.controls['telefono'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>
                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Tipo</label>
                                <div class="col-22">
                                    <select class="form-control" id="tipo" name="tipo" [(ngModel)]="empresa.tipo_cliente" required>

                                        <option>Cliente potencial</option>
                                        <option>Socio</option>
                                        <option>Revendedor</option>
                                        <option>Proveedor</option>
                                        <option>Otra</option>
                                    </select>

                                    <small *ngIf="f.submitted &&
                                                    f.controls['tipo'].errors" class="text-danger">
                                        Campo obligatorio
                                    </small>
                                </div>
                            </div>





                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Ciudad</label>
                                <input type="text" class="form-control" id="ciudad" name="ciudad" [(ngModel)]="empresa.ciudad" required />

                                <small *ngIf="f.submitted &&
                                                f.controls['ciudad'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>
                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Estado o
                                    región</label>
                                <input type="text" class="form-control" id="etapa" name="estado" [(ngModel)]="empresa.estado_region" required />

                                <small *ngIf="f.submitted &&
                                                f.controls['estado'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>
                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Código
                                    postal</label>
                                <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="empresa.codigo_postal" required />

                                <small *ngIf="f.submitted &&
                                                f.controls['codigo'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>
                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Número de
                                    empleados</label>
                                <input type="text" class="form-control" id="empleados" name="empleados" [(ngModel)]="empresa.no_empleados" required />

                                <small *ngIf="f.submitted &&
                                                f.controls['empleados'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>

                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Ingresos
                                    anuales</label>
                                <input type="text" class="form-control" id="ingresos" name="ingresos" [(ngModel)]="empresa.ingresos_anuales" required />

                                <small *ngIf="f.submitted &&
                                                f.controls['ingresos'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>
                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Zona
                                    horaria</label>
                                <input type="text" class="form-control" id="zona" name="zona" [(ngModel)]="empresa.zona_horaria" required />

                                <small *ngIf="f.submitted &&
                                                f.controls['zona'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>
                            </div>


                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Descripción</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="empresa.descripcion" required />


                                <small *ngIf="f.submitted &&
                                                f.controls['descripcion'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>
                            </div>



                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Página
                                    corporativa</label>
                                <input type="text" class="form-control" id="pagina" name="pagina" [(ngModel)]="empresa.pagina_corporativa" required />

                                <small *ngIf="f.submitted &&
                                                f.controls['pagina'].errors" class="text-danger">
                                    Campo obligatorio
                                </small>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn
                                                estilosBotonesHover
                                                estilosBotones">
                                    Crear
                                </button>
                                <button type="submit" class="btn
                                                estilosBotonesHover
                                                estilosBotones">
                                    Crear y agregar otra
                                </button>
                                <button (click)="vaciarFormulario()" class="btn
                                                estilosBotonesHover
                                                estilosBotones" data-dismiss="modal">
                                    Cancelar
                                </button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--Fin formulario crear contacto-->

    <!--Tabs-->
    <div class="container-fluid pt-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#todosLosContactos" role="tab" aria-controls="home" aria-selected="true">Todas las empresas</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#misContactos" role="tab" aria-controls="profile" aria-selected="false">Mis empresas</a>
            </li>

        </ul>

        <!--Contenido de los tabs
    ---------------------------->
        <div class="tab-content con" id="myTabContent">
            <!--Contenido tab 1-->
            <div class="tab-pane fade show active" id="todosLosContactos" role="tabpanel" aria-labelledby="home-tab">

                <div class="table-responsive">
                    <table class="table mt-3">
                        <thead class="grisSecundario">
                            <tr>
                                <th scope="col">Núm.</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Propietario</th>
                                <th scope="col">Industria</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Estado/Región</th>
                                <th scope="col">Código Postal</th>
                                <th scope="col">No. Empleados</th>
                                <th scope="col">Ingresos Anuales</th>
                                <th scope="col">Zona Horaria</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Página corporativa</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let empresa of empresas; let i= index">
                                <th scope="row">{{i+1}}</th>

                                <td><a [routerLink]="['/informacion',tipo, empresa.id_empresa]">{{empresa.nombre}}</a></td>
                                <td><input [(ngModel)]="empresa.propietario" type="text" name="nombre" class="form-control" placeholder="Propietario" style="width: fit-content;" disabled></td>
                                <td>{{empresa.industria}}</td>
                                <td><input [(ngModel)]="empresa.no_telefono" type="text" name="nombre" class="form-control" placeholder="Teléfono" style="width: fit-content;" minlength="8" maxlength="15" required></td>
                                <td>{{empresa.tipo_cliente}}</td>
                                <td><input [(ngModel)]="empresa.ciudad" type="text" name="nombre" class="form-control" placeholder="Ciudad" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="empresa.estado_region" type="text" name="nombre" class="form-control" placeholder="Estado / Región" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="empresa.codigo_postal" type="text" name="nombre" class="form-control" placeholder="Código postal" style="width: fit-content;" required></td>
                                <td><input [(ngModel)]="empresa.no_empleados" type="text" name="nombre" class="form-control" placeholder="Número de empleados" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="empresa.ingresos_anuales" type="text" name="nombre" class="form-control" placeholder="Ingresos anuales" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="empresa.zona_horaria" type="text" name="nombre" class="form-control" placeholder="Zona horaria" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="empresa.descripcion" type="text" name="nombre" class="form-control" placeholder="Descripción" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="empresa.pagina_corporativa" type="text" name="nombre" class="form-control" placeholder="Página corporativa" style="width: fit-content;"></td>
                                <td>
                                    <button (click)="actualizarEmpresa(empresa)" class="btn btn-primary m-r-10">
                                        <i class='fa fa-save'></i>
                                    </button>
                                </td>
                                <td>
                                    <button (click)="eliminarEmpresa(empresa)" class="btn btn-danger">
                                        <i class='fas fa-trash-alt'></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>



            </div>
            <!--Contenido tab 2-->
            <div class="tab-pane fade" id="misContactos" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table mt-3">
                        <thead class="grisSecundario">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Propietario</th>
                                <th scope="col">Industria</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Estado/Región</th>
                                <th scope="col">Código Postal</th>
                                <th scope="col">No. Empleados</th>
                                <th scope="col">Ingresos Anuales</th>
                                <th scope="col">Zona Horaria</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Página corporativa</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let misEmpresas of listaMisEmpresas; let i= index">
                                <th scope="row">{{i+1}}</th>
                                <td><a [routerLink]="['/informacion',tipo, misEmpresas.id_empresa]">{{misEmpresas.nombre}}</a></td>
                                <td><input [(ngModel)]="misEmpresas.propietario" type="text" name="nombre" class="form-control" placeholder="Propietario" style="width: fit-content;" disabled></td>
                                <td><input [(ngModel)]="misEmpresas.industria" type="text" name="nombre" class="form-control" placeholder="Industria" style="width: fit-content;" disabled></td>
                                <td><input [(ngModel)]="misEmpresas.no_telefono" type="text" name="nombre" class="form-control" placeholder="Teléfono" style="width: fit-content;" minlength="8" maxlength="15" required></td>
                                <td>{{misEmpresas.tipo_cliente}}</td>
                                <td><input [(ngModel)]="misEmpresas.ciudad" type="text" name="nombre" class="form-control" placeholder="Ciudad" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="misEmpresas.estado_region" type="text" name="nombre" class="form-control" placeholder="Estado / Región" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="misEmpresas.codigo_postal" type="text" name="nombre" class="form-control" placeholder="Código postal" style="width: fit-content;" required></td>
                                <td><input [(ngModel)]="misEmpresas.no_empleados" type="text" name="nombre" class="form-control" placeholder="Número de empleados" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="misEmpresas.ingresos_anuales" type="text" name="nombre" class="form-control" placeholder="Ingresos anuales" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="misEmpresas.zona_horaria" type="text" name="nombre" class="form-control" placeholder="Zona horaria" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="misEmpresas.descripcion" type="text" name="nombre" class="form-control" placeholder="Descripción" style="width: fit-content;"></td>
                                <td><input [(ngModel)]="misEmpresas.pagina_corporativa" type="text" name="nombre" class="form-control" placeholder="Página corporativa" style="width: fit-content;"></td>
                                <td>
                                    <button (click)="actualizarEmpresa(misEmpresas)" class="btn btn-primary m-r-10">
                                        <i class='fa fa-save'></i>
                                    </button>
                                </td>
                                <td>
                                    <button (click)="eliminarEmpresa(misEmpresas)" class="btn btn-danger">
                                        <i class='fas fa-trash-alt'></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>


</div>