.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-login-bordes {
    border-color: rgb(039, 089, 149);
    box-shadow: 0 1px 1px rgba(75, 115, 201, 0.075)inset, 0 0 8px rgba(75, 115, 201);
}

.icon-size {
    font-size: 65px;
    color: #275995;
}

.navbarContacto {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

a:hover {
    background-color: #275995;
    color: white;
}

.negritas:hover {
    font-weight: bold;
}

.colorCorporativo {
    background-color: #275995;
}

.colorSection {
    background-color: aqua;
}

.container {
    display: flex;
    align-items: start;
}

.center-h {
    justify-content: space-evenly;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.paddings {
    padding-left: 65%;
    padding-right: 66%;
}