<nav class="navbar navbar-expand-md navbar-dark colorCorporativo mt-0 " style="padding: 0; margin: 0;">


    <a class="navbar-brand" [routerLink]="['/negocios']"><img class="img-fluid rounded d-block ml-3" src="../../assets/image/click.png" alt="clicksoft" width="150px" height="150px" style="padding: 0; margin: 0;" /></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>




    <div class="collapse navbar-collapse ml-4 " id="navbarSupportedContent">
        <div>
            <ul class="nav navbar-nav mr-auto">


                <li class="nav-item dropdown ligaHover active">
                    <a class="nav-link dropdown-toggle active negritas " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contactos
                        </a>
                    <div class="dropdown-menu navbarContacto bgDropdown" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item subligas" [routerLink]="['/contactos']">Contactos</a>
                        <a class="dropdown-item subligas" [routerLink]="['/empresas']">Empresas</a>
                        <div class="dropdown-divider"></div>
                    </div>



                </li>

                <li class="ligaHover">
                    <a class="nav-link color active negritas" [routerLink]="['/informes']">Informes <span class="sr-only">(current)</span></a>
                </li>

                <li class="ligaHover">
                    <a class="nav-link color active negritas" [routerLink]="['/negocios']">Negocios <span class="sr-only">(current)</span></a>
                </li>



            </ul>
        </div>

        <div class="ml-auto">
            <li class="nav-item dropdown ligaHover active">
                <a class="nav-link dropdown-toggle active negritas " style="border-left: thin solid #E5B53A" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="white" xmlns="http://www.w3.org/2000/svg" style="padding: 0; margin: 0;">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                </a>

                <div class="dropdown-menu navbarContacto bgDropdown dropdown-menu-lg-right navbar-cuenta-bordes" aria-labelledby="navbarDropdown">


                    <form class="user-profile-card card-body">
                        <div class="contenedor">
                            <img src="../../assets/image/grisSecundario.png" class="user-profile-image rounded-circle" alt="" />
                            <div class="centrado colorIniciales">{{usuario.nombre | slice:0:1 | uppercase}}</div>

                        </div>

                        <p class="text-left " style="font-size: 20px;"><strong> {{usuario.nombre}}</strong></p>
                        <p class="text-left text-muted small">{{usuario.email}}</p>


                        <hr style="background-color: #E5B53A;">
                        <a class="dropdown-item subligas text-left" [routerLink]="['/configuracion']">Configuración</a>
                        <a *ngIf="rol==='ADMIN'" class="dropdown-item subligas text-left" [routerLink]="['/usuarios']">Usuarios</a>
                        <hr style="background-color: #E5B53A;">


                        <p>
                            <button class="btn btn-outline-danger btn-block" (click)="salir()">
                                <i class="fas fa-sign-out-alt"></i>
                        Cerrar Sesion
                        </button>

                        </p>

                    </form>


                </div>
            </li>

        </div>
    </div>



</nav>