<header>
    <nav class="navbar navbar-expand-lg navbar-dark colorCorporativo">

        <img class="img-fluid rounded mx-auto d-block" src="../../assets/image/pnglogoblanco.png" alt="clicksoft" width="11%" height="11%" />




        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active negritas" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contactos
                    </a>
                    <div class="dropdown-menu navbarContacto" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/contactos']">Contactos</a>
                        <a class="dropdown-item" [routerLink]="['/empresas']">Empresas</a>
                        <div class="dropdown-divider"></div>
                    </div>



                </li>

                <li>
                    <a class="nav-link color active negritas" [routerLink]="['/informes']">Informes <span class="sr-only">(current)</span></a>
                </li>

                <li>
                    <a class="nav-link color active negritas" [routerLink]="['/pipeline']">Pipeline <span class="sr-only">(current)</span></a>
                </li>



            </ul>
            <form class="form-inline my-2 my-lg-0 ">
                <div class="dropdown ">


                    <button class="btn btn-outline-light dropdown-toggle " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-circle"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <path fill-rule="evenodd"
                                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                        </svg>




                        <ul class="dropdown-menu dropdown-menu-lg-right">
                            <li>
                                <div class="navbar-login ">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">


                                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                                    class="bi bi-person-circle icon-size" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                    <path fill-rule="evenodd"
                                                        d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                                </svg>
                                            </p>
                                        </div>
                                        <div class="col-lg-8 mt-3">
                                            <p class="text-left"><strong> {{usuario.nombre}}</strong></p>
                                            <p class="text-left small">{{usuario.email}}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </li>
                            
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <a class="dropdown-item" [routerLink]="['/configuracion']">Configuración</a>
                                                <a class="dropdown-item" [routerLink]="['/usuarios']">Usuarios</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                           

                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <Button class="btn btn-outline-danger btn-block" (click)="salir()">
                                                    Cerrar Sesion
                                                </Button>
                    </p>
                </div>
        </div>
        </div>
        </li>

        </ul>


        </button>




        </div>
        </form>
        </div>
    </nav>
</header>