<div class=" d-sm-flex d-lg-flex d-xl-flex  flex-column justify-content-center divAltura">
    <div class="container topDivForm " style="width: 550px; height: 55vh;">


        <img class="img-fluid rounded mx-auto d-block" src="../../../assets/image/logoTransparente.png" alt="ClickSoft" width="48%" height="48%" />


        <form (ngSubmit)="login(f)" #f="ngForm">
            <div class="container card colorFondo justify-content-around" style="width: 450px; height: 55vh;">

                <div class="form-group mt-5 ml-2 mr-2">
                    <label for="email">Dirección de correo</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-at"></i></div>
                        </div>
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="loginUser.email" required email placeholder="Ej. usuario12@cs.clicksoft.com.mx" />
                        <small *ngIf="f.submitted && f.controls['email'].errors" class="text-danger ">El correo es obligatorio</small>
                    </div>
                </div>

                <div class="form-group ml-2 mr-2">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-lock"></i></div>
                        </div>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="loginUser.password" required minlength="5" placeholder="Contraseña" />
                        <small *ngIf="f.submitted && f.controls['password'].errors" class="text-danger ">La contraseña es obligatoria</small>
                    </div>
                </div>

                <div class="form-group form-check ml-2 mr-2">
                    <input [(ngModel)]="recordarme" type="checkbox" class="form-check-input" id="recordar" name="recordar" />
                    <label class="form-check-label" for="recordar">Recordarme</label>
                    <a href="#" class="float-right" data-target="#recuperarContraseña" data-toggle="modal">Olvidé la contraseña</a>
                </div>
                <div class="ml-2 mr-2">
                    <button type="submit" class="btn estiloBotonLogin  estilosBotonesLoginHover btn-block "><i class="fas fa-sign-in-alt"></i>   Iniciar sesión</button>
                </div>
                <br><br>
            </div>
        </form>

    </div>






    <!--FORMULARIO MODAL PARA RECUPERAR CONTRASEÑA-->
    <!--Formulario modal Recuperar contraseña-->
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="recuperarContraseña" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bgCorp">
                    <a></a>
                    <h5 class="modal-title text-white" id="exampleModalLabel">
                        Restablecer contraseña
                    </h5>
                    <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="recupera(fr)" #fr="ngForm">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Ingrese su correo electrónico</label>
                            <input type="text" class="form-control" #resetInput id="recuperaPassword" name="recuperaPassword" [(ngModel)]="recuperaPasswordModel.email" email required />

                            <small *ngIf="fr.submitted && fr.controls['recuperaPassword'].errors" class="text-danger ">
                                Ingresa un correo válido
                              </small>

                        </div>

                        <div class="modal-footer">

                            <button type="submit" class="btn estilosBotonesHover estilosBotones">
                    Enviar
                  </button>

                            <button type="button" class="btn estilosBotonesHover estilosBotones" data-dismiss="modal">
                    Cancelar
                  </button>


                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>