<div class="container">

  <div class="paddings">
    <img
      class="img-fluid rounded mx-auto d-block"
      src="../../assets/image/clicksoft.jpg"
      alt="clicksoft"
      width="70%"
      height="70%"
    />
    <br />
    <br />
    <br />
    <form (ngSubmit)="login(f)"
          #f="ngForm"
          >

          
      <div class="form-group">
        <label for="email">Dirección de correo</label>
        <input 
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="loginUser.email"
          required
          email
          
        />

        <small *ngIf="f.submitted && f.controls['email'].errors" class="text-danger ">
          El correo es obligatorio
        </small>
      </div>

      
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="loginUser.password"
          required
          minlength="5"
        />

        <small *ngIf="f.submitted && f.controls['password'].errors" class="text-danger ">
          La contraseña es obligatoria
        </small>
      </div>


      <div class="form-group form-check">
        <input [(ngModel)]="recordarme" type="checkbox" class="form-check-input" id="recordar" name="recordar" />
        <label class="form-check-label" for="recordar">Recordarme</label>

        <div data-toggle="modal" data-target="#recuperarContraseña" data-whatever="@mdo">

                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                
              </svg> ¿Olvidaste pwd?

            </div>
        
      </div>
      <button
        type="submit"
        class="btn estilosBotones estilosBotonesHover btn-block"
        
      >
        Iniciar sesión
      </button>
        </form>
        <hr />
    </div>


    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="recuperarContraseña" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bgCorp">
                    <a></a>
                    <h5 class="modal-title text-white" id="exampleModalLabel">
                        Recuperar contraseña
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Ingrese su correo electronico</label>
                            <input type="text" class="form-control" id="nombre" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn estilosBotonesHover estilosBotones">
            Enviar
          </button>

                </div>
            </div>
        </div>
    </div>


</div>