<app-navbar>
</app-navbar>


<div class="mt-5 container ">

    <div class="col-sm table-responsive">
        <h4> Total de contactos creados por semana</h4>
        <br>
        <form #f="ngForm">
            <input class="float-right form-control" type="date" id="historico" name="historico" (change)="historicoSemana(f)" [(ngModel)]="historico.fechaI" max={{fechaMax}} min={{fechaMin}} style="width: min-content;">
        </form>


        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" width="390%" height="285%"></canvas>



    </div>

    <div class="col-sm table-responsive">

        <h4> Cantidad de contactos</h4>
        <br>
        <button class="btn estilosBotones estilosBotonesHover  float-right form-control" (click)="exportarinformes()" style="width: max-content;" type="button" id="dropdownMenu2" aria-haspopup="true" aria-expanded="false">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi
            bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1
                0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0
                0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
        <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0
                    .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5
                    0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3
                    3z" />
    </svg>
            Exportar informes
            </button>
        <div class="card mt-5 text-center">
            <div class="card-body">
                <table class=" table-borderless">
                    <tr>
                        <td>
                            <h6 class="text-center">Total creado en el intervalo</h6> &nbsp; <br>
                            <h4 class="text-center">{{numero}}</h4>
                        </td>
                        <td>
                            <h6 class="text-center"> Promedio </h6><br>
                            <h4 class="text-center">{{promedio}}</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6 class="text-center justify-content-center">Mejor semana de intervalo al crear contactos <br> {{fechaI}} a {{fechaF}}</h6>
                            <h4 class="text-center">{{mejor}}</h4>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>