<app-navbar>
</app-navbar>


<div class="mt-5 container ">

    <div class="col-sm table-responsive">
        <h4> Total de contactos creados por dia </h4>
        <br>


        <form #f="ngForm">
            <input class="float-right form-control" type="date" id="historico" name="historico" (change)="historicoSemana(f)" [(ngModel)]="historico.fechaI" max={{fechaMax}} min={{fechaMin}} style="width: min-content;">
        </form>


        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" width="390%" height="285%"></canvas>



    </div>

    <div class="col-sm table-responsive">
        <h4> Cantidad de contactos</h4>
        <br>
        <div class="card mt-5 text-center">
            <div class="card-body">
                <table class=" table-borderless ">
                    <tr>
                        <td>
                            <h6 class="text-center">Total creado en el intervalo</h6> &nbsp; <br>
                            <h4 class="text-center">{{numero}}</h4>
                        </td>
                        <td>
                            <h6 class="text-center"> Promedio </h6><br>
                            <h4 class="text-center">{{promedio}}</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6 class="text-center justify-content-center">Mejor semana de intervalo al crear contactos <br> {{fechaI}} a {{fechaF}}</h6>
                            <h4 class="text-center">{{mejor}}</h4>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>