.paddings {
    padding-left: 1%;
    padding-right: 1%;
}

.paddings2 {
    padding-left: 1%;
    padding-right: 70%;
    padding-top: 1%;
}

.encabezado {
    color: black;
    font-size: 30px;
    padding-top: 5px;
}