/* You can add global styles to this file, and also import other style files */

.estilosBotones {
    border-color: #000000;
    color: black;
}

.estilosBotonesHover:hover {
    background-color: #E5B53A;
    color: white;
    border-color: #E5B53A;
}

.estilosBotonesEliminarHover:hover {
    background-color: red;
    color: white;
    border-color: red;
}

.estiloBotonLogin {
    background-color: #6C6B6D;
    color: white;
}

.estilosBotonesLoginHover:hover {
    background-color: #000000;
    color: white;
}

.bgCorp {
    background-color: #000000;
}

.grisSecundario {
    background-color: #6C6B6D;
    color: white;
}

html {
    overflow-x: hidden
}

.element {
    overflow: hidden;
}

.inputsECorreo {
    outline: none;
    border: 0;
}