<!--Inicio del formulario modal nota
                    --------------------------------------------------
                        ------------------------------------------------>

<div class="modal fade text-left" data-backdrop="static" data-keyboard="false" id="modalNota" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    Nota
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="registrarNota(f)" #f="ngForm">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Descripción de la
                                                    nota</label>
                        <hr>
                        <small *ngIf="f.submitted && f.controls['descripcion'].errors" class="text-danger">
                                                    Campo obligatorio
                                                </small>

                        <textarea class="form-control" id="message-text" rows="5" id="nota" name="descripcion" [(ngModel)]="notaContacto.comentario" required></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn estilosBotonesHover estilosBotones">
                                                    Guardar
                                                </button>
                        <button type="button" class="btn estilosBotonesHover estilosBotones" data-dismiss="modal">
                                                    Cancelar
                                                </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--fin del formulario modal nota-->

<!--Inicio del formulario modal Correo-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalCorreo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    Registrar correo
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="registrarCorreo(fCorreo)" #fCorreo="ngForm">
                    <div class="form-group">
                        <table class="table table-borderless table-responsive ">
                            <tbody>

                                <tr>
                                    <td>
                                        <label class="col-form-label">Contactado</label>

                                        <input type="text" name="apellido" class="form-control" placeholder="{{nombrePropietario.nombre}}" disabled>
                                    </td>
                                    <td>
                                        <label class="col-form-label">Fecha</label>
                                        <input class="form-control" type="date" value="{{ fecha | date: 'yyyy-MM-dd' }}" id="example-date-input" name="fechaCorreo" [(ngModel)]="correoContacto.fecha" required />

                                        <small *ngIf="fCorreo.submitted && fCorreo.controls['fechaCorreo'].errors" class="text-danger">
                                                    Campo obligatorio
                                                </small>
                                    </td>
                                    <td>

                                        <label class="col-form-label">Hora</label>
                                        <input class="form-control" type="time" value="00:00:00" id="example-time-input" name="horaCorreo" [(ngModel)]="correoContacto.hora" required />

                                        <small *ngIf="fCorreo.submitted && fCorreo.controls['horaCorreo'].errors " class="text-danger">
                                                    Campo obligatorio
                                                </small>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />

                        <small *ngIf="fCorreo.submitted && fCorreo.controls['descripcionCorreo'].errors" class="text-danger">
                            Campo obligatorio
                        </small>

                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Descripción del correo" name="descripcionCorreo" [(ngModel)]="correoContacto.descripcion" required>
                        </textarea>

                        <div class="modal-footer">
                            <button type="submit" class="btn estilosBotonesHover estilosBotones">
                                Guardar
                            </button>
                            <button type="button" class="btn estilosBotonesHover estilosBotones" data-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--fin del formulario modal Correo -->

<!--Inicio modal llamada-->

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalLlamada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">

                <h5 class="modal-title text-white" id="exampleModalLabel">
                    Registrar llamada
                </h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <form (ngSubmit)="registrarLlamada(fLlamada)" #fLlamada="ngForm">
                    <div class="form-group">
                        <table class="table table-borderless text-left table-responsive">
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="col-form-label">Contactado</label>
                                        <input type="text" name="apellido" class="form-control" placeholder="{{nombrePropietario.nombre}}" disabled>

                                    </td>
                                    <td>
                                        <label class="col-form-label">Resultado de la llamada</label>



                                        <select class="form-control" id="sel2" name="resultadoLlamada" required [(ngModel)]="llamadaContacto.resultado_llamada">
                                            <option value="" disabled selected>Selecciona una opción</option>
                                                    <option>Ocupado</option>
                                                    <option>Conectado</option>
                                                    <option>Sin respuesta</option>
                                                </select>

                                        <small *ngIf=" fLlamada.submitted &&fLlamada.controls['resultadoLlamada'].errors" class="text-danger">
                                                    Campo obligatorio
                                                </small>

                                    </td>


                                    <td>
                                        <label class="col-form-label">Fecha</label>



                                        <input class="form-control" type="date" value="{{ fecha | date: 'yyyy-MM-dd' }}" id="example-date-input" name="fechaLlamada" required [(ngModel)]="llamadaContacto.fecha" />

                                        <small *ngIf="fLlamada.submitted && fLlamada.controls['fechaLlamada'].errors " class="text-danger">
                                                    Campo obligatorio
                                                </small>

                                    </td>
                                    <td>
                                        <label class="col-form-label">Hora</label>


                                        <input class="form-control" type="time" value="00:00:00" id="example-time-input" name="horaLlamada" required [(ngModel)]="llamadaContacto.hora" />

                                        <small *ngIf="fLlamada.submitted && fLlamada.controls['horaLlamada'].errors " class="text-danger">
                                                    Campo obligatorio
                                                </small>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />

                        <div>
                            <small *ngIf="fLlamada.submitted && fLlamada.controls['descripcionLlamada'].errors" class="text-danger">
                                Campo obligatorio
                            </small>

                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="20" placeholder="Descripción de la llamada" name="descripcionLlamada" required [(ngModel)]="llamadaContacto.descripcion"></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn estilosBotones estilosBotonesHover">Crear</button>
                            <button type="submit" class="btn estilosBotones estilosBotonesHover">Crear y agregar
                                otra</button>
                            <button type="button" class="btn estilosBotonesHover estilosBotones" data-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

<!--Fin modal Llamada-->

<!--Inicio del formulario modal Registrar Reunion-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalReunion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    Registrar reunión
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="registrarReunion(fReunion)" #fReunion="ngForm">
                    <div class="form-group">
                        <table class="table table-borderless table-responsive">
                            <tbody>
                                <tr>
                                    <td>
                                        <label>Asistente</label>
                                        <input type="text" name="apellido" class="form-control" placeholder="{{nombrePropietario.nombre}}" disabled>
                                    </td>
                                    <td>
                                        <label>Resultado</label>

                                        <select class="form-control" id="sel4" name="resultadoReunion" required [(ngModel)]="reunionContacto.resultado">
                                                    <option>--Seleccione--</option>
                                                    <option>Programadas</option>
                                                    <option>Completadas</option>
                                                    <option>No asistió</option>
                                                    <option>Completadas</option>
                                                </select>

                                        <small *ngIf=" fReunion.submitted && fReunion.controls['resultadoReunion'].errors" class="text-danger">
                                                    Campo obligatorio
                                                </small>
                                    </td>

                                    <td>


                                        <label>Fecha</label>

                                        <input class="form-control" type="date" value="{{ fecha | date: 'yyyy-MM-dd' }}" id="example-date-input" name="fechaReunion" required [(ngModel)]="reunionContacto.fecha" />

                                        <small *ngIf="fReunion.submitted && fReunion.controls['fechaReunion'].errors" class="text-danger">
                                                    Campo obligatorio
                                                </small>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label>Hora</label>

                                        <input class="form-control" type="time" value="00:00:00" id="example-time-input" name="horaReunion" required [(ngModel)]="reunionContacto.hora" />

                                        <small *ngIf="fReunion.submitted && fReunion.controls['horaReunion'].errors" class="text-danger">
                                                    Campo obligatorio
                                                </small>
                                    </td>

                                    <td>

                                        <label>Duración</label>

                                        <select class="form-control" id="sel4" name="duracionReunion" required [(ngModel)]="reunionContacto.duracion">
                                                    <option>--Seleccione--</option>
                                                    <option>15 minutos</option>
                                                    <option>30 minutos</option>
                                                    <option>45 minutos</option>
                                                    <option>1 Hora</option>
                                                </select>

                                        <small *ngIf="fReunion.submitted && fReunion.controls['duracionReunion'].errors" class="text-danger">
                                                    Campo obligatorio
                                                </small>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />

                        <small *ngIf="fReunion.submitted && fReunion.controls['descripcionReunion'].errors " class="text-danger">
                            Campo obligatorio
                        </small>
                        <div class="form-group">

                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Descripción del correo" name="descripcionReunion" required [(ngModel)]="reunionContacto.descripcion"></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn estilosBotonesHover estilosBotones">
                                Guardar
                            </button>
                            <button type="button" class="btn estilosBotonesHover estilosBotones" data-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Fin del formulario modal Registar Reunion-->


<!--Inicio del formulario modal Negocio-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    Agregar negocio a este contacto
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="registrarNegocio(fNegocio)" #fNegocio="ngForm">



                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre del negocio</label>
                        <input type="text" class="form-control" id="nombre" name="nombreNegocio" required [(ngModel)]="negocioContacto.nombre" />
                        <small class="text-danger" *ngIf="fNegocio.submitted && fNegocio.controls['nombreNegocio'].errors">Campo
                                        obligatorio</small>

                    </div>

                    <div class="form-group">

                        <label for="recipient-name" class="col-form-label">Pipeline</label>
                        <input type="text" class="form-control" id="pipeline" name="pipelineNegocio" required [(ngModel)]="negocioContacto.pipeline" />
                        <small class="text-danger" *ngIf="fNegocio.submitted && fNegocio.controls['pipelineNegocio'].errors">Campo
                                        obligatorio</small>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Etapa del negocio</label>
                        <input type="text" class="form-control" id="etapa" name="etapaNegocio" required [(ngModel)]="negocioContacto.etapa" />

                        <small class="text-danger" *ngIf="fNegocio.submitted && fNegocio.controls['etapaNegocio'].errors">Campo
                                        obligatorio</small>

                    </div>

                    <div class="form-group">

                        <label for="recipient-name" class="col-form-label">Cantidad</label>
                        <input type="text" class="form-control" id="cantidad" name="cantidadNegocio" required [(ngModel)]="negocioContacto.cantidad" />
                        <small class="text-danger" *ngIf="fNegocio.submitted && fNegocio.controls['cantidadNegocio'].errors">Campo
                                        obligatorio</small>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn estilosBotonesHover estilosBotones">
                                        Crear
                                    </button>
                        <button type="submit" class="btn estilosBotonesHover estilosBotones">
                                        Crear y agregar otra
                                    </button>
                        <button type="button" class="btn estilosBotonesHover estilosBotones" data-dismiss="modal">
                                        Cancelar
                                    </button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<!--fin del formulario modal-->