.encabezado1 {
    color: black;
    font-size: 30px;
    margin-top: 10px;
}


/* Style the links inside the pill navigation menu */

.pill-nav a {
    display: inline-block;
    color: black;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}


/* Change the color of links on mouse-over */

.pill-nav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.pill-nav a.active {
    background-color: #E5B53A;
    color: white;
}